html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #222;
}

#game {
    display: block;
    width: 100vw;
    height: 100vh;
}

#game-ui {

}

#game-ui-debug {
    min-width: 100px;
    height: 30px;
    padding: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid white;
    color: white;
    font-family: Consolas, "Andale Mono", monospace;
}